# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Flask
instance/
*.pyc
*.log

# Logs
logs/
*.log

# Dependency directories
lib/
libs/
lib64/
bin/
include/
share/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out
*.class

# Miscellaneous
.DS_Store
Thumbs.db

main.cypthon-311*