{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Transcription</h2>
        <p>{{ transcription }}</p>
    </div>
    <div class="row">
        <div class="col">
            <h2>FIHR Query</h2>
            <p> {{ fihr_json }}</p>
        </div>
    </div>
    <div class="col">
        <form method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Generated clinical letter</label>
                <pre>{{ clinical_letter }}</pre>
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>
{% endblock %}
