<!-- 


```json

```


 -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="row h-100">
            <div class="col main h-100 mx-5 p-5">
                <h2>Transcription</h2>
                <p  rows="20" cols="50" >{{ transcription }}</p>
            </div>
            <div class="col main h-100 p-5 ">
                <div class="row">
                    <div class="col">
                        <h2 class="form-label">Generated clinical letter</h2>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-secondary" type="button" id="copyButton">Copy</button>
                    </div>
                </div class="row">
                
                <textarea class="" rows="20" cols="60" id = 'copyInput'>
                    {{ clinical_letter }}
                </textarea  >
            </div>
        </div>
        <div class="row">
            <div class="col main h-100 p-5">
                <h2>FIHR Query</h2>
                <pre> {{ fihr_json }} </pre>
            </div>
        </div>
        
        
    </div>
</div>

<script>
    document.getElementById('copyButton').addEventListener('click', function() {
        const copyText = document.getElementById('copyInput').value;
        navigator.clipboard.writeText(copyText).then(() => {
            // Success feedback
            alert('Text copied to clipboard');
        }).catch(err => {
            // Error feedback
            console.error('Error in copying text: ', err);
        });
    });
    
</script>

{% endblock %}