<!-- 


```json

```


 -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col">
                <h2>Transcription</h2>
                <p>{{ transcription }}</p>
            </div>
            <div class="col">
                <h2 class="form-label">Generated clinical letter</h2>
                <textarea class="form-control h-100" id="autosizeTextarea">
                    {{ clinical_letter }}
                </textarea>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>FIHR Query</h2>
                <pre> {{ fihr_json }} </pre>
            </div>
        </div>
        
        
    </div>
</div>

{% endblock %}